@using CakeShop.Web.ViewModels.Orders.ViewModels;
@model DetailsCurrentOrderViewModel;
<div class="col-lg-4">
    <div class="cart__total">
        <h6>Details</h6>
        <ul>
            <li>Paid: <span>@Model.PaidAsString</span></li>
            <li>Order Status: <span>@Model.Status</span></li>
            <li>Order Date: <span>@Model.FormattedFinalizeOrder</span></li>
            <li>Total Sum: <span>$ @Model.TotalPrice</span></li>
        </ul>
        <a href="#" class="site-btn">Show client's data</a>
    </div>
</div>