@using CakeShop.Web.ViewModels.Comments.ViewModels;
@model AllCommentsCurrentRecipeViewModel;

@foreach (var comment in Model.Comments)
{
    <div class="blog__details__comment__item mt-4">
        <div class="blog__details__comment__item__pic">
            <img src="@comment.ClientPicture" alt="user-pic">
        </div>
        <div class="blog__details__comment__item__text">
            <h6>@comment.ClientUserName</h6>
            <span>@comment.FormattedCreatedOn</span>
            <p>@comment.Content</p>
        </div>
    </div>
    <hr />
}