<div class="text-right">
    <div class="shop__option__right">
        <form id="order-criterias" method="post"></form>
        <select id="order-dessert" onchange="orderDesserts();">
            <option value="removeFilter">Default sorting</option>
            <option value="name">Name</option>
            <option value="price">Price</option>
        </select>
    </div>
</div>