/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.site-btn:hover {
    background-color: #F08632;
}

.color-black {
    color: black;
}

    .color-black:hover {
        color: #F08632;
    }

#logout-button {
    border: none;
    background-color: transparent;
}

    #logout-button:hover {
        color: #F08632;
        text-decoration: none;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #F08632;
    border-color: #F08632;
}

.card {
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.active-pagination {
    background-color: #F08632;
}

.shop,
.spad {
    padding-top: 0px;
    padding-bottom: 0px;
}

#category-id:hover {
    background-color: #F08632;
}

.testimonial__author__text span {
    color: grey;
    font-size: 12px
}

.fa-user-edit:before,
.fa-calendar-alt:before {
    color: #F08632;
}

.heart__btn {
    font-size: 20px;
    border: 1px solid #e1e1e1;
    display: inline-block;
    color: #f08632;
    padding: 14px;
    line-height: 16px;
}

.small-pic {
    max-width: 40%;
}

.wishlist__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
    margin-right: -68px;
    margin-left: 10px;
}

.search-switch {
    font-size: 12px;
    color: black;
}

    .search-switch:hover {
        color: #f08632;
    }

.fa-book:before,
.fa-truck:before,
.fa-heart:before {
    font-size: 20px;
}

.fa-egg {
    padding-top: 20px
}

    .fa-egg:before {
        font-size: 100px;
        color: #f08632;
    }

.fav-icon:hover {
    cursor: pointer;
}


.fav-heart {
    color: black;
}

    .fav-heart:hover {
        color: #f08632;
    }

.cart__price:hover {
    cursor: pointer;
    color: #f08632;
}

.product__cart__item__pic {
    margin-right: 0px;
    max-width: 200px;
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
    margin-right: 0px;
}

.dessert-quantity {
    margin-left: 30px;
}

.cart__price:hover {
    cursor: default;
}

.hover-effect-orange:hover {
    background-color: #f08632;
}

.shopping__cart__table table tbody tr td.cart__close span:hover {
    cursor: pointer;
}

.title {
    font-size: 20px;
    color: #111111;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.form-background {
    background: #fdf3ea;
    padding: 30px;
}

#user-data:hover {
    cursor: pointer;
}

.wishlist__cart__table table tbody tr td.product__cart__item .product__cart__item__text h6:hover {
    color: #f08632;
}

#desserts-table_wrapper {
    margin-top: 30px;
}

.icon_close:hover {
    cursor: pointer;
}

#new-pic {
    background-color: transparent;
    margin-bottom: 0px;
}

.btn-dessert-update {
    font-size: 12px;
}

.remove-ingredient span:hover,
.remove-tag span:hover {
    color: #f08632;
}

.add-title {
    color: grey;
    font-size: 30px;
}

.update-section {
    background: rgba(240, 135, 50, 0.1);
}

.danger:hover {
    background-color: red;
}
