@{ 
    ViewData["Title"] = "Update";
}

<partial name="_BreadCrumbPartial" />
<section class="class spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="class__form">
                    <div class="section-title">
                        <span>Class cakes</span>
                        <h2>Made from your <br />own hands</h2>
                    </div>
                    <form action="#">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Phone">
                        <select>
                            <option value="">Studying Class</option>
                            <option value="">Writting Class</option>
                            <option value="">Reading Class</option>
                        </select>
                        <input type="text" placeholder="Type your requirements">
                        <button type="submit" class="site-btn">registration</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="class__video set-bg" data-setbg="img/class-video.jpg">
            <img class="big_img" src="" alt="dessert-picture">
        </div>
    </div>
</section>