@using CakeShop.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/favicon.png" rel="icon" type="image/png">
    <title>@GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/barfiller.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" asp-append-version="true">
    <link href="~/lib/datatables/media/css/jquery.dataTables.css" rel="stylesheet" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__cart">
            <div class="offcanvas__cart__links">
                <a asp-area="" asp-controller="Users" asp-action="MyOrders" class="search-switch" data-toggle="tooltip" title="My Orders"><i class="fas fa-truck"></i></a>
                <a href="#" class="search-switch"><i class="fas fa-book"></i></a>
                <a asp-area="" asp-controller="Desserts" asp-action="FavouriteDesserts" class="fav-heart"><i class="fas fa-heart"></i></a>
            </div>
            <div class="offcanvas__cart__item">
                <div class="cart__price"><a asp-area="" asp-controller="Orders" asp-action="SeeBasket" class="color-black">Cart:</a> <span class="total-price">$0.00</span></div>
            </div>
        </div>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__option">
            <partial name="_LoginPartial" />
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header__top__inner">
                            <div class="header__top__left">
                                <ul>
                                    <partial name="_LoginPartial" />
                                </ul>
                            </div>
                            <div class="header__logo">
                                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="/img/logo.png" alt=""></a>
                            </div>
                            <div class="header__top__right">
                                <div class="header__top__right__links">
                                    <a asp-area="" asp-controller="Users" asp-action="MyOrders" class="search-switch" data-toggle="tooltip" title="My Orders"><i class="fas fa-truck"></i></a>
                                    <a href="#" class="search-switch"><i class="fas fa-book"></i></a>
                                    <a asp-area="" asp-controller="Desserts" asp-action="FavouriteDesserts" class="fav-heart"><i class="fas fa-heart"></i></a>
                                </div>
                                <div class="header__top__right__cart">
                                    <div class="cart__price"><a asp-area="" asp-controller="Orders" asp-action="SeeBasket" class="color-black">Cart:</a> <span class="total-price">$0.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open"><i class="fa fa-bars"></i></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Shop" asp-action="GetAllCategories">Shop</a></li>
                            <li><a asp-area="" asp-controller="Recipes" asp-action="GetAll">Blog</a></li>
                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <li>
                                    <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Administation</a>
                                    <ul class="dropdown">
                                        <li><a asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Index</a></li>
                                        <li><a asp-area="Administration" asp-controller="Orders" asp-action="GetAll">Orders</a></li>
                                        <li><a asp-area="Administration" asp-controller="Recipes" asp-action="GetAll">Repices</a></li>
                                        <li><a asp-area="Administration" asp-controller="Desserts" asp-action="GetAll">Desserts</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <form id="load-basket-total-price" method="post"></form>
    </header>
    <!-- Header Section End -->

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <!-- Footer Section Begin -->
    <footer class="footer set-bg" data-setbg="/img/footer-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>WORKING HOURS</h6>
                        <ul>
                            <li>Monday - Friday: 08:00 am – 08:30 pm</li>
                            <li>Saturday: 10:00 am – 16:30 pm</li>
                            <li>Sunday: 10:00 am – 16:30 pm</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>
                            Lorem ipsum dolor amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore dolore magna aliqua.
                        </p>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__newslatter">
                        <h6>Subscribe</h6>
                        <p>Get latest updates and offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="fa fa-send-o"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <p class="copyright__text text-white">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <div class="copyright__widget">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/media/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/js/jquery.nice-select.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.barfiller.js" asp-append-version="true"></script>
    <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.slicknav.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.nicescroll.min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    <script>loadBasketTotalPrice();</script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
