@using CakeShop.Common
@using CakeShop.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li>
            <a class="mr-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Hello @this.User.Identity.Name!
                <span class="ml-3">|</span>
            </a>
            @*if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                   {
                       <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                       </li>
                }*@
            <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">Logout</a>
        </li>
    }
    else
    {
        <li>
            <a class="mr-3" asp-area="Identity" asp-page="/Account/Register">
                Register
                <span class="ml-3">|</span>
            </a>
            <a asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
