@using CakeShop.Web.ViewModels.Orders.ViewModels;
@model OrderTotalPriceAndQuantitiesViewModel;

<div class="col-lg-4">
    <div class="cart__total">
        <h6>Cart total</h6>
        <ul>
            <li>Total Quantities: <span id="quantities"> @Model.Quantities pcs</span></li>
            <li>Total Sum: <span class="total-price">$ @Model.TotalPrice</span></li>
        </ul>
        @if (Model.TotalPrice > 0 && Model.Quantities > 0)
        {
            <a asp-area="" asp-controller="Orders" asp-action="Checkout" class="primary-btn hover-effect-orange">Proceed to checkout</a>
        }
    </div>
</div>