<h5>Order by</h5>
<div class="blog__sidebar__social">
    <div class="row">
        <div class="col-12 mb-5">
            <form id="order-criterias-recipes" method="post"></form>
            <select id="order-recipes" onchange="orderRecipesByCriteria();">
                <option value="removeFilter">Default sorting</option>
                <option value="title">Title</option>
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
                <option value="likes">Likes</option>
                <option value="comments">Comments</option>
            </select>
        </div>
    </div>
</div>