<div class="col-lg-4">
    <div class="blog__sidebar">
        <div class="blog__sidebar__item">
            <partial name="_OrderRecipesByCriteriaPartial" />
            <partial name="_FollowUsPartial" />
        </div>
        <vc:sidebar-recipes criteria="@GlobalConstants.CriteriaRecent"></vc:sidebar-recipes>
        <vc:sidebar-recipes criteria="@GlobalConstants.CriteriaPopular"></vc:sidebar-recipes>
        <vc:categories-sidebar></vc:categories-sidebar>
    </div>
</div>