<div class="col-lg-4">
    <div class="blog__sidebar">
        <div class="blog__sidebar__item">
            <h5>Order by</h5>
            <div class="blog__sidebar__social">
                <div class="row">
                    <div class="col-12 mb-5">
                        <form id="order-criterias-recipes" method="post"></form>
                        <select id="order-recipes" onchange="orderRecipesByCriteria();">
                            <option value="removeFilter">Default sorting</option>
                            <option value="title">Title</option>
                            <option value="newest">Newest</option>
                            <option value="oldest">Oldest</option>
                            <option value="likes">Likes</option>
                            <option value="comments">Comments</option>
                        </select>
                    </div>
                </div>
            </div>
            <h5>Follow me</h5>
            <div class="blog__sidebar__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <vc:sidebar-recipes criteria="@GlobalConstants.CriteriaRecent"></vc:sidebar-recipes>
        <vc:sidebar-recipes criteria="@GlobalConstants.CriteriaPopular"></vc:sidebar-recipes>
        <vc:categories-sidebar></vc:categories-sidebar>
    </div>
</div>

<script>
    function orderRecipesByCriteria() {
        var criteria = "";
        var criterias = [...document.getElementById("order-recipes").children];

        criterias.forEach((element) => {
            if (element.selected) {
                criteria = element.value;
            }
        });

        if (criteria === "removeFilter") {
            window.location.replace(`/Recipes/GetAll`);
        }

        var token = $("#order-criterias-recipes input[name=__RequestVerificationToken]").val();

        $.ajax({
            url: "/Recipes/OrderByCriteria/",
            type: "POST",
            data: JSON.stringify(criteria),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { 'X-CSRF-TOKEN': token },
            success: function (data) {
                var result = "";

                data.repices.forEach((recipe) => {
                    result += `<div class="blog__item">
                                  <div class="blog__item__pic set-bg" style="background-image:url(${recipe.picture});">
                                     <div class="blog__pic__inner">
                                         <div class="label">${recipe.categoryName}</div>
                                             <ul>
                                                <li>By <span>${recipe.author}</span></li>
                                                <li>${recipe.createdOn}</li>
                                                <li><i class="far fa-thumbs-up"></i> ${recipe.recipeLikesCount}</li>
                                                <li><i class="far fa-comments"></i> ${recipe.commentsCount}</li>
                                             </ul>
                                          </div>
                                      </div>
                                      <div class="blog__item__text">
                                          <h2>${recipe.title}</h2>
                                          <p>${recipe.shortContent}</p>
                                          <a href="/Recipes/RecipeDetails/${recipe.id}">READ MORE</a>
                                      </div>
                                   </div>`;
                });

                $("#all-recipes").html(result);
            }
        });
    }
</script>