@using CakeShop.Web.ViewModels.Recipes.ViewModels;
@model AllRecipesViewModel;

@{
    var category = Model.Repices.Select(r => r.CategoryName).FirstOrDefault();
    ViewData["Title"] = category;
}

<partial name="_BreadCrumbPartial" />
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var repice in Model.Repices)
                {
                    <partial name="_CurrentRecipeDetailsPartial" model="repice" />
                }
            </div>
            <partial name="_SidebarPartial" />
        </div>
    </div>
</section>
