@using CakeShop.Web.ViewModels.Recipes.ViewModels;
@model AllRecipesViewModel;

@{
    ViewData["Title"] = "Recipes";
}

<partial name="_BreadCrumbPartial" />
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var repice in Model.Repices)
                {
                    <partial name="_CurrentRecipeDetailsPartial" model="repice" />
                }
                <partial name="_RecipesPaginationPartial" />
            </div>
            <partial name="_SidebarPartial" />
        </div>
    </div>
</section>
