@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Thank you for confirming your email!";
}

<div class="text-center">
    <h4 class="mb-2 mt-2">@ViewData["Title"]</h4>
    <img src="/img/cake-piece.png" alt="cake">
</div>