@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="text-center">
    <h2 class="mb-2 mt-2">@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
    <img src="/img/cake-piece.png" alt="cake">
</div>

