@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="text-center">
    <h2 class="mb-2 mt-2">@ViewData["Title"]</h2>
    <p>
        Your password has been reset. Please <a class="color-black" asp-page="./Login">click here to log in</a>.
    </p>
    <img src="/img/cake-piece.png" alt="cake">
</div>
