@using CakeShop.Web.ViewModels.Orders.ViewModels;
@model AllDessertsBasketViewModel;

@{
    var orderId = Model.DessertsInBasket.Select(deo => deo.OrderId).FirstOrDefault();
}

<partial name="_GetOrderDetailsBreadCrumbPartial" />
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <partial name="_DessertListDetailsPartial" model="Model" />
            <vc:get-order-details order-id="@orderId"></vc:get-order-details>
        </div>
    </div>
</section>
