<div class="text-center">
    <span class="add-title">Add @(this.ViewData["ViewName"]) </span><a asp-area="Administration" asp-controller="@(this.ViewData["Title"])" asp-action="Add" class="site-btn ml-2 px-6 py-2">Add</a>
    <hr />
</div>