@using CakeShop.Web.ViewModels.Administration.Dashboard.ViewModels;
@model AdminStatisticViewModel;


@{
    this.ViewData["Title"] = "Administration Area";
}

<partial name="_BreadCrumbPartial" />
<div class="categories mt-3">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <a asp-area="Administration" asp-controller="Ingredients" asp-action="GetAll" class="fav-icon">
                            <span class="flaticon-006-macarons"></span>
                        </a>
                        <h5>Ingredients</h5>
                    </div>
                </div>
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <a asp-area="Administration" asp-controller="Tags" asp-action="GetAll" class="fav-icon">
                            <span class="flaticon-034-chocolate-roll"></span>
                        </a>
                        <h5>Tags</h5>
                    </div>
                </div>
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <a asp-area="Administration" asp-controller="Categories" asp-action="GetAll" class="fav-icon">
                            <span class="flaticon-005-pancake"></span>
                            <h5>Categories</h5>
                        </a>
                    </div>
                </div>
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <a asp-area="Administration" asp-controller="Desserts" asp-action="GetAll" class="fav-icon">
                            <span class="flaticon-030-cupcake-2"></span>
                            <h5>Desserts</h5>
                        </a>
                    </div>
                </div>
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <a asp-area="Administration" asp-controller="Recipes" asp-action="GetAll" class="fav-icon">
                            <span class="flaticon-006-macarons"></span>
                            <h5>Recipes</h5>
                        </a>
                    </div>
                </div>
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <a asp-area="Administration" asp-controller="Orders" asp-action="GetAll" class="fav-icon">
                            <span class="flaticon-034-chocolate-roll"></span>
                            <h5>Orders</h5>
                        </a>
                    </div>
                </div>
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <a asp-area="Administration" asp-controller="Comments" asp-action="GetAll" class="fav-icon">
                            <span class="flaticon-005-pancake"></span>
                            <h5>Comments</h5>
                        </a>
                    </div>
                </div>
                <div class="categories__item">
                    <div class="categories__item__icon">
                        <a asp-area="Administration" asp-controller="Users" asp-action="GetAll" class="fav-icon">
                            <span class="flaticon-030-cupcake-2"></span>
                            <h5>Users</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="categories mt-3">
    <div class="container">
        @if (Model.NewOrdersCount != 0)
        {
            <h3 class="text-danger mb-4"><a asp-area="Administration" asp-controller="Orders" asp-action="GetAll" class="color-red">There are @Model.NewOrdersCount new orders!</a></h3>
        }
        else
        {
            <h3 class="text-success mb-4">There aren't new orders!</h3>
        }
        @if (Model.NewCommentsCount != 0)
        {
            <h3 class="text-danger"><a asp-area="Administration" asp-controller="Comments" asp-action="GetAll" class="color-red">There are @Model.NewCommentsCount new comments!</a></h3>
        }
        else
        {
            <h3 class="text-success">There aren't new comments!</h3>
        }
    </div>
</div>
